<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grocery Delivery</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="shipit.css">
  <script src="shipit.js"></script>
</head>
<body>
  <h1>Krash Provision Selector Page</h1>
  <form id="data" action="/order" method="post">
    <p>
        <label for="name">Enter Your Name: </label>
        <input type="text" id="name" name="name" size="20">

      <label for="house">Select Your House: </label>
        <select id="house" name="house">
          <option value="Charlestown Unit 4">Charlestown Unit 4</option>
          <option value="Charlestown Unit 5">Charlestown Unit 5</option>
          <option value="Charlestown Unit 6">Charlestown Unit 6</option>
          <option value="Central Floor 1">Central Floor 1</option>
          <option value="Central Floor 2">Central Floor 2</option>
          <option value="Central Floor 3">Central Floor 3</option>
          <option value="Porter Harrison Floor 1">Porter Harrisonv Floor 1</option>
          <option value="Porter Harrison Floor 2">Porter Harrison Floor 2</option>
          <option value="Porter Harrison Floor 3">Porter Harrison Floor 3</option>
          <option value="Porter Beacon Floor 1">Porter Beacon Floor 1</option>
          <option value="Porter Beacon Floor 2">Porter Beacon Floor 2</option>
          <option value="Porter Beacon Floor 3">Porter Beacon Floor 3</option>
        </select>
    </p>
    <h2>Select Your Supplies</h2>
    <p id="items">
    </p>
    <p>
      <input type="submit" id="clearButton" value="Order">
    </p>
  </form>
  <h2>Your Cart</h2>
  <div id="order">
  </div>
</body>
</html>

